{% extends 'header.html' %}
{% block title %}
Мультиссылка
{% endblock %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
        function copyToClipboard(element) {
          var $temp = $("<input>");
          $("body").append($temp);
          $temp.val($(element).text()).select();
          document.execCommand("copy");
          $temp.remove();
        }
</script>

<script>
    function add(){
      var new_chq_no = parseInt($('#total_chq').val())+1;
      var new_input="<div><input type='text' name='name"+new_chq_no+"', placeholder='Название ссылки'>" +
          "<input type='text' name='link"+new_chq_no+"', placeholder='Ссылка'></div>";
      $('#new_chq').append(new_input);
      $('#total_chq').val(new_chq_no)
    }
    function remove(){
      var last_chq_no = $('#total_chq').val();
      if(last_chq_no>1){
        $('#name'+last_chq_no).remove();
        $('#link'+last_chq_no).remove();
        $('#total_chq').val(last_chq_no-1);
      }
    }
</script>

<body bgcolor="#f3acb0">
<!--    <div style="text-align: center;">-->

<!--            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->

<!--              <button onclick="add()">Add</button>-->
<!--              <button onclick="remove()">remove</button>-->
<!--        <form action="/your_tree_link" method = "POST">-->
<!--              <input type="text", name="name", placeholder="Название страницы">-->
<!--              <div id="new_chq"></div>-->
<!--              <input type="hidden" value="0" id="total_chq">-->

<!--           <p><input type = "submit" value = "Получить мультиссылку" /></p>-->
<!--        </form>-->
<!--        {% if forward_message %}-->
<!--        <p id="p1">{{ forward_message }}</p>-->
<!--        <p><button onclick="copyToClipboard('#p1')">Копировать ссылку</button></p>-->
<!--        {% endif %}-->
<!--    </div>-->

    <div class="container p-3">
        <form action="/your_tree_link" method = "POST">
            <input type="hidden" value="0" id="total_chq">
            <div class="">
                <div class="col-lg-12">
                    <div id="row">
                        <div class="input-group m-3">
                            <input type="text"
                                class="form-control m-input" name="page_name_0" placeholder="Название страницы">
                        </div>
                        <div class="input-group m-3">
                            <input type="text"
                                class="form-control m-input" name="desc" placeholder="Описание страницы">
                        </div>
                    </div>
                    <div id="newinput"></div>
                    <div class="container p-2">

<!--                    <button id="nameAdd" type="button"-->
<!--                        class="btn btn-dark">-->
<!--                        <span class="bi bi-plus-square-dotted">-->
<!--                        </span> Заголовок-->
<!--                    </button>-->
                    <button id="linkAdd" type="button"
                        class="btn btn-dark">
                        <span class="bi bi-plus-square-dotted">
                        </span> Ссылка
                    </button>
                    <button id="goodAdd" type="button"
                        class="btn btn-dark">
                        <span class="bi bi-plus-square-dotted">
                        </span> Карточка
                    </button>
                    <button type="submit" class="btn btn-primary">Получить мультиссылку</button>
                    </div>
                </div>
            </div>
        </form>

        {% if forward_message %}
         <div class="container p-3">
            {% if forward_message %}
            <p class="lead" id="p1">http://cutlinks.ru/{{ forward_message }}</p>
            <p class="lead">Ура! Вы создали свою  <a href={{ forward_message }}>персональную страницу!</a>
                Вы можете отслеживать свою статистику в разделе <a href="/statistic">Статистика!</a></p>
            <button type="submit" class="btn btn-primary" id="toastbtn" onclick="copyToClipboard('#p1')">Копировать ссылку</button>

             <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
              <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                  <strong class="me-auto">Скопировано</strong>
                  <small>сейчас</small>
                  <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                  Вы скопировали ссылку
                </div>
              </div>
            </div>
             <a href="{{ forward_message }}" class="btn btn-primary">Перейти на свою страницу</a>
<!--            <button type="submit" class="btn btn-primary"><a href={{ forward_message }}></a>Перейти на свою страницу</button>-->
            {% endif %}
        <div/>
        {% endif %}
    </div>

    <script type="text/javascript">


        $("#nameAdd").click(function () {
            var new_chq_no = parseInt($('#total_chq').val())+1;
            newRowAdd =
            '<div id="row"> <div class="input-group m-3">' +
            '<div class="input-group-prepend">' +
            '<button class="btn btn-primary" id="DeleteRow" type="button">' +
            '<i class="bi bi-trash"></i>  Удалить</button> </div>' +
            '<input type="text" class="form-control m-input" placeholder="Заголовок"></div> </div>';
            $('#total_chq').val(new_chq_no)
            $('#newinput').append(newRowAdd);
        });

        $("#linkAdd").click(function () {
            var new_chq_no = parseInt($('#total_chq').val())+1;
            newRowAdd =
            '<div id="row"> <div class="input-group m-3">' +
            '<div class="input-group-prepend">' +
            '<button class="btn btn-primary" id="DeleteRow" type="button">' +
            '<i class="bi bi-trash"></i>  Удалить</button> </div>' +
            '<div class="container"><input type="text" class="form-control m-input" name="link_name_'+new_chq_no+'" placeholder="Название ссылки"></div>' +
                '<div class="container"><input type="text" class="form-control m-input" name="link_'+new_chq_no+'" placeholder="Ссылка"> </div></div> </div>';
            $('#total_chq').val(new_chq_no)
            $('#newinput').append(newRowAdd);
        });

        $("#goodAdd").click(function () {
            var new_chq_no = parseInt($('#total_chq').val())+1;
            newRowAdd =
            '<div id="row"> <div class="input-group m-3">' +
            '<div class="input-group-prepend">' +
            '<button class="btn btn-primary" id="DeleteRow" type="button">' +
            '<i class="bi bi-trash"></i>  Удалить</button> </div>' +
            '<div class="container"><input type="text" class="form-control m-input" name="good_name_'+new_chq_no+'" placeholder="Название товара"></div>' +
                '<div class="container"><input type="text" class="form-control m-input" name="good_desc_'+new_chq_no+'" placeholder="Описание"></div>' +
                '<div class="container"><input type="text" class="form-control m-input" name="good_price_'+new_chq_no+'" placeholder="Цена"></div>' +
                '<div class="container"><input type="text" class="form-control m-input" name="good_link_buy_'+new_chq_no+'" placeholder="Ссылка на покупку"></div> </div> </div>';
            $('#total_chq').val(new_chq_no)
            $('#newinput').append(newRowAdd);
        });

        $("body").on("click", "#DeleteRow", function () {
            $(this).parents("#row").remove();
        })
    </script>
    <script>
    document.getElementById("toastbtn").onclick = function() {
      var toastElList = [].slice.call(document.querySelectorAll('.toast'))
      var toastList = toastElList.map(function(toastEl) {
        return new bootstrap.Toast(toastEl)
      })
      toastList.forEach(toast => toast.show())
    }
    </script>
</body>
{% endblock %}