<div class="container p-1 my-1">
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Free</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">₽0<small class="text-muted fw-light">/месяц</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Безлимит ссылок</li>
          <li>Статистика для коротких ссылок</li>
          <li>Email поддержка</li>
          <li>Базовые элементы для мультиссылки</li>
          <li>Телеграм-бот</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Бесплатно</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm border-primary">
      <div class="card-header py-3 text-white bg-primary border-primary">
        <h4 class="my-0 fw-normal">Pro</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">₽89<small class="text-muted fw-light">/месяц</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Дизайн на выбор</li>
          <li>Отсутствие рекламы</li>
          <li>Функционал для профессионала</li>
          <li>Пользовательские названия ссылок</li>
          <li>Пользовательские названия ссылок</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-primary">Начать</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Enterprise</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">₽2899<small class="text-muted fw-light">/месяц</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Функционал Pro</li>
          <li>Весь функционал</li>
          <li>Статистика и аналитика</li>
          <li>Персональный менеджер</li>
          <li>Статистика и аналитика</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
      </div>
    </div>
  </div>
</div>
</div>