<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/image/favicon.ico">
    <link rel="stylesheet" href='/static/style.css' />
</head>

<body>
    <div style="text-align: center;" class="center">
        <h1>Статисктика</h1>

        <form action="/stat" method = "POST">
           <div class="inputbox"><input type = "text" name = "link", placeholder="Короткая ссылка"/></div>
           <div class="inputbox"><input type = "submit" value = "Получить статистику" /></div>
        </form>
    </div>


</body>
</html>