<!--<div class="container">-->
<!--<p>-->
<!--  <div class="row">-->
<!--    <div class="col-sm-4 p-1">-->
<!--      <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Что такое мультиссылка?</a>-->
<!--    </div>-->
<!--    <div class="col-sm-4 p-1">-->
<!--      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Что такое короткая ссылка?</button>-->
<!--    </div>-->
<!--    <div class="col-sm-4 p-1">-->
<!--      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Что такое статистика ссылки?</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</p>-->
<!--</div>-->
<!--<div class="container p-1 my-1">-->
<!--<div class="row">-->
<!--  <div class="col-sm-4 p-1">-->
<!--    <div class="collapse multi-collapse" id="multiCollapseExample1">-->
<!--      <div class="card card-body">-->
<!--        Мультиссылка - это страница, которую вы сконструируете, на которой могут быть ссылки на ваши соц. сети, это страница-портфолио или резюме. На ссылке может быть информация о вашем продукте, каталог товаров, полезные материалы. Также мультиссылка может содержать другие мультиссылки (фактически вы можете сконструировать целый сайт на нашем домене)-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-sm-4 p-1">-->
<!--    <div class="collapse multi-collapse" id="multiCollapseExample2">-->
<!--      <div class="card card-body">-->
<!--        Короткая ссылка - это ссылка на любую страницу в интернете, только короткая) Если у вас есть длинная ссылка, которую вы хотите сделать короче, мы это сделаем.-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-sm-4 p-1">-->
<!--    <div class="collapse multi-collapse" id="multiCollapseExample3">-->
<!--      <div class="card card-body">-->
<!--        Статистика включает в себя аналитику кликов по вашей ссылке. После того, как вы сделаете короткую ссылку или мультиссылку и поделитесь ей, вы можете отслеживать переходы по ней.-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--  </div>-->


<div class="container p-1 my-1">
<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        Что такое мультиссылка?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <strong>Мультиссылка - это страница, которую вы сконструируете, </strong>
        на которой могут быть ссылки на ваши соц. сети, это страница-портфолио или резюме. На ссылке может быть информация о вашем продукте, каталог товаров, полезные материалы. Также мультиссылка может содержать другие мультиссылки (фактически вы можете сконструировать целый сайт на нашем домене)
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        Что такое короткая ссылка?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">
        <strong>Короткая ссылка - это ссылка на любую страницу в интернете, только короткая) </strong>
        Если у вас есть длинная ссылка, которую вы хотите сделать короче, мы это сделаем.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        Как пользоваться статистикой?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
        <strong>Статистика включает в себя аналитику кликов по вашей ссылке. </strong>
        После того, как вы сделаете короткую ссылку или мультиссылку и поделитесь ей, вы можете отслеживать переходы по ней.
      </div>
    </div>
  </div>
</div>
  </div>