<div class="container">
    <div class="row">
        <div class="col-sm-4 p-1">
            <img src="../../static/images/h.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-sm-8">
            <div class="text-center p-5">
                <div class="container p-1">
                    <p class="h1">Сервис для создания умных ссылок</p>
                </div>

                <div class="container p-1">
                    <p>Создайте веб-сайт за несколько кликов! Расскажите о себе или своем продукте</p>
                </div>
                <div class="container p-3">
                    <a href="/multilink" class="btn btn-dark">Начать бесплатно</a>
                </div>
            </div>

        </div>
    </div>
</div>