{% extends 'header.html' %}
{% block title %}
Короткая ссылка
{% endblock %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
        function copyToClipboard(element) {
          var $temp = $("<input>");
          $("body").append($temp);
          $temp.val($(element).text()).select();
          document.execCommand("copy");
          $temp.remove();
        }
</script>

<body>
    <div class="container-fluid p-5 my-1">
        <div class="row">
      <div class="col-sm-4 ">
        <div class="container-fluid p-2 my-2">
            {% if forward_message %}
            <p class="lead" id="p1">{{ forward_message }}</p>
            <p class="lead">Готово! Мы сделали  <a href={{ forward_message }}>вашу ссылку!</a> короче.
                Вы можете отслеживать свою статистику в разделе <a href="/statistic">Статистика!</a></p>
            <!--        <p><button onclick="copyToClipboard('#p1')">Копировать ссылку</button></p>-->
            <div class="mb-3" >
                <button type="submit" class="btn btn-primary" onclick="copyToClipboard('#p1')">Копировать ссылку</button>
        <!--        <input type = "submit" value = "Копировать ссылку" onclick="copyToClipboard('#p1')"/>-->
            </div>
            {% else %}
            <form action="/your_short_link" method = "POST">
                <div class="mb-3">
    <!--            <label for="exampleInputPassword1" class="form-label">Длинная ссылка</label>-->
                <input type = "text" class="form-control" name = "link" placeholder="Длинная ссылка" id="exampleInputPassword1">
              </div>

              <button type="submit" class="btn btn-primary">Получить короткую ссылку</button>
            </form>
            {% endif %}
        </div>
          </div>
      <div class="col-sm-8">
          {% include 'includes/hints.html' %}
      </div>

    </div>
    </div>


<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Скопировано</strong>
      <small>сейчас</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Вы скопировали ссылку
    </div>
  </div>
</div>

<script>
document.getElementById("toastbtn").onclick = function() {
  var toastElList = [].slice.call(document.querySelectorAll('.toast'))
  var toastList = toastElList.map(function(toastEl) {
    return new bootstrap.Toast(toastEl)
  })
  toastList.forEach(toast => toast.show())
}
</script>
</body>
{% endblock %}
